
<% if tasks.any? %>
  <ul>
    <% tasks.each do |task| %>
      <li>
        
        <div>
          <p><%= task.content %> <%= link_to "編集", edit_task_path(task) %> <%= link_to "削除", task, method: :delete, data: { confirm: "このタスクを削除してよろしいですか？" } %> </p>
        </div>
        
      </li>
  
    <% end %>
  </ul>
  
  <% paginate tasks %>
<% end %>