
<% if tasks.any? %>
  <ul>
    <% tasks.each do |task| %>
      <li>
        
        <div>
          <p><%= task.content %> <%= link_to "詳細", task %> </p>
        </div>
        
      </li>
  
    <% end %>
  </ul>
  
  <% paginate tasks %>
<% end %>